@import "tailwindcss";


/* Optional: global styles */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Ubuntu, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}
